.content-wrapper { width: 100%; max-width: 100%; }
.portada { width: 100%; }

.landing {

	p,h2,h3,h4 { margin: 0; }

	/*boton global*/
	.boton {
		min-width: 120px;
		text-decoration: none;
		padding: .8rem;
		border-radius: 5px;
		border: 1px white solid;
	}

	.boton:hover {
		background: #371E58;
	}

	h2 { font-size: 50px; }

	h3 { font-size: 28px; }

	.primero {
		padding: 2rem 0 3rem 0;
		text-align: center;
		position: relative;
		background: #9E79AF;
		@media (max-width: 800px) {
			padding-top: 1rem;
		}

		.wrapper {
			width: 1100px;
			margin: 0 auto;
			@media (max-width: 1100px) {
				width: 100%;
			}

			.texto,.imagen {
				vertical-align: top; 
				width: 49.5%; 
				display: inline-block; 
			}

			.texto {
				color: white;
				padding: 8rem 0 0 5rem;
				text-align: left;
				@media (max-width: 800px) {
					padding: 1rem;
					width: 100%;
					text-align: center;
				}

				h2, h3 { padding-bottom: 1.5rem; }
				
				h3 {
					padding-bottom: 3rem;
					@media (max-width: 800px) {
						padding-bottom: 3rem;
						line-height: 2.5rem;
					}
				}

				.boton { 
					color: white; 
					margin: 0 1rem 0 1rem; 
				}
			}

			.imagen {
				padding: 1rem;
				@media (max-width: 800px) {
					width: 100%;
				}

				img {
					max-width: 100%;
					height: 450px;
				}
			}
		}
	}

	.segundo {
		color: white;
		padding: 3rem 0 3rem 0;
		background: #371E58;
		text-align: center;

		.wrapper {
			width: 1100px;
			margin: 0 auto;
			@media (max-width: 1100px) {
				width: 100%;
			}

			h2 { 
				padding: 0 6rem 2rem 6rem; 
				/*font-size: 28px;*/
				margin-bottom: 1rem;
				@media (max-width: $tablet-width) {
					padding: 1rem;
				}
			}
			
			.contenido {
				padding: 0 1rem 0 1rem;
				width: 33%;
				display: inline-block;
				vertical-align: top;
				@media (max-width: 795px) {
					padding-bottom: 5rem;
				}
				@media (max-width: $tablet-width) {
					width: 100%;
				}
				@media (max-width: $smaller-width) {
					display: none;
				}

				.imagen {
					vertical-align: top;
					height: 200px;
					width: 200px;
					margin: 0 auto;
					margin-bottom: 1rem;

					img {
						max-width: 100%;
					}
				}

				h3 {
					font-size: 30px;
					margin-bottom: .5rem;
				}

				p { 
					line-height: 1.5rem;
					font-size: 20px;
				}
			}
		}
	}

	.pemarte {
		width: 100%;
		background: #371E58;

		.wrapper {
		 	float: right;
			width: 50%;
			display: inline-block;
			@media (max-width: $tablet-width) {
				width: 100%;
				text-align: center;
			}

			.texto {
				color: white;
				width: 550px;
				float: left;
				text-align: left;
				padding: 3rem 0 0 5rem;
				@media (max-width: 1100px) {
					width: 100%;
					padding: 4rem 1rem 0 2rem;
				}
				@media (max-width: 895px) {
					padding: 1rem 1rem 0 1rem;
				}
				@media (max-width: $tablet-width) {
					padding: 5rem 1rem 5rem 1rem;
					text-align: center;
				}

				h2 { 
					padding-bottom: 1rem;
					@media (max-width: 865px) {
					 	font-size: 40px;
					 } 
				}

				p { 
					font-size: 22px; 
					margin-bottom: 2rem; 
					line-height: 2.5rem;
					@media (max-width: 865px) {
						margin-bottom: 1.5rem;
						line-height: 1.5rem; 
					}
					@media (max-width: $tablet-width) {
						line-height: 2rem;
						margin-bottom: 2rem; 
					}
				}

				.boton { color: white; }

				.boton:hover {
					background: #9E79AF;
				}
			}
		}

		.imagen {
			vertical-align: top;
			width: 50%;
			display: inline-block;
			background: white;
			@media (max-width: $tablet-width) {
				width: 100%;
			}

			img {
				max-width: 100%;
				@media (max-width: $tablet-width) {
					width: 100%;
				}
			}
		}
	}
	
	/*Estilos para los bloques "nones"*/
	.pemarte:nth-child(2n+1) {
		background: white;

		.wrapper { 
			float: left; 
			text-align: left;
			@media (max-width: $tablet-width) {
				width: 100%;
			}

			.texto {
				padding: 3rem 5rem 0 0;
				float: right;
				text-align: right;
				color: #444;
				@media (max-width: 1100px) {
					width: 100%;
					padding: 4rem 2rem 0 1rem;
				}
				@media (max-width: 895px) {
					padding: 1rem 1rem 0 1rem;
				}
				@media (max-width: $tablet-width) {
					padding: 5rem 1rem 5rem 1rem;
					text-align: center;
				}

				.boton {
					color: #444;
					border-radius: 5px;
					border: 1px #AD9C92 solid;
				}
				.boton:hover {
					background: #444;
					color: white;
				}
			} 
		}
	}

	.final {
		width: 100%;
		padding: 3rem 0 3rem 0;
		background: #fff;

		.wrapper {
			width: 1100px;
			margin: 0 auto;
			@media (max-width: 1100px) {
				width: 100%;
			}

			.imagen,.texto { 
				width: 49.7%; 
				display: inline-block; 
			}

			.texto {
				vertical-align: top;
				padding: 1rem;
				color: #371E58;
				@media (max-width: $tablet-width) {
					width: 100%;
					text-align: center;
				}

				h2,h3 { 
					padding-bottom: 1.5rem;
					line-height: 2.5rem; 
				}

				.boton {
					color: #371E58;
					min-width: 120px;
					text-decoration: none;
					padding: .8rem;
					border-radius: 5px;
					border: 1px #AD9C92 solid;
				}

				.boton:hover { 
					background: #371E58;
					color: white;
				}
			}

			.imagen {
				float: left;
				width: 50%; 
				display: block; 
				margin: 0 auto;
				@media (max-width: $tablet-width) {
					width: 100%;
				}
				@media (max-width: $smaller-width) {
					display: none;
				}
				
				img {
					max-width: 100%;
					@media (max-width: $tablet-width) {
						width: 100%;
					}
				}
			}
		}
	}
}
